.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .red { background-color: red; }
  .orange { background-color: orange; }
  .green { background-color: green; }
  .black { background-color: black; }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
  }
  
  .circle.red { background-color: red; }
  .circle.orange { background-color: orange; }
  .circle.green { background-color: green; }
  